# Look, this file has 8 lines, main.cpp has 16 lines, JetiSerialSingleCore.h has 32 lines, and JetiSerial.h has 64 lines of code.
.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
src/main.cpp
